.active{ 
    color: #31ADE7 !important;
}
.title h5{
  color: #31ADE7;  
}
h5{
    color: #32ade7;
}
.project{
    margin: auto;
}
.iw{
  margin-bottom: 20px;  
}
.iw img{
  width: 100%;  
}
.musician{
    background-color: #cd0b0b;
    padding: 15px;
    border-radius: 15px;
    color: #fff;
}

.musician:hover{
    background-color: #930c19;
    text-decoration: none !important;
    color:#fff !important;
}
.adopt{
  background-color: #fc8408;
    padding: 15px;
    border-radius: 15px;
    color: #fff;   
}
.adopt:hover{
    background-color: #c56706;
    text-decoration: none !important;
    color:#fff !important;
}
@media only screen and (max-width: 980px) {
    .project{
        margin: 30px;
    }
}

   